<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width">

	<title>{ifset title}{include title|stripHtml} | {/ifset}Nette Web</title>

	{if $vite->isEnabled()}
		<script type="module" src="{='@vite/client'|asset}"></script>
	{else}
		{foreach $vite->getCssAssets('src/scripts/main.js') as $path}
			<link rel="stylesheet" href="{$path}">
		{/foreach}
	{/if}

	<script src="{='src/scripts/main.js'|asset}" type="module"></script>
</head>

<body>
	<div n:foreach="$flashes as $flash" n:class="flash, $flash->type">{$flash->message}</div>

	{include content}

	{block scripts}
	{/block}
</body>
</html>
