parameters:
    rootDir: %appDir%/..
    srcDir: %appDir%/../src
    srcViewsDir: %appDir%/../src/views
    srcLayoutsDir: %appDir%/../src/views/layouts
    srcPresentersDir: %appDir%/../src/views/presenters

application:
	errorPresenter:
		4xx: Error4xx
		5xx: Error5xx
	mapping: App\View\Presenters\*Presenter

database:
	dsn: 'sqlite::memory:'
	user:
	password:


latte:
	strictTypes: yes
	strictParsing: yes
	extensions:
		- App\View\Extensions\LatteExtension


di:
	export:
		tags: no
