# see https://doc.nette.org/en/configuring

parameters:
    rootDir: %appDir%/..
    assetsDir: %rootDir%/assets
    viewsDir: %assetsDir%/views
    viewsLayoutsDir: %viewsDir%/layouts
    viewsPresentersDir: %viewsDir%/presenters
    viewsComponentsDir: %viewsDir%/components


application:
	errorPresenter:
		4xx: Error:Error4xx
		5xx: Error:Error5xx
	mapping: App\Presentation\Presenters\*\**Presenter


database:
	dsn: 'sqlite::memory:'
	user:
	password:


latte:
	strictTypes: yes
	strictParsing: yes
	extensions:
		- App\Presentation\Accessories\LatteExtension


assets:
	mapping:
		default:
			path: assets
			type: vite  # Uncomment to activate Vite for asset building


di:
	export:
		tags: no
