services:
    - App\Core\ConfigFactory(
        parameters: @container::getParameters()
    )
    - App\Core\RouterFactory::createRouter

search:
	-	in: %appDir%
		classes:
			- *Factory
			- *Facade
