services:
        - App\Router\RouterFactory::createRouter
        - Vite(http://localhost:5173, %wwwDir%/manifest.json, not(%debugMode%))
        nette.latteFactory:
            setup:
                - addFilter(asset, App\Latte\AssetFilter())
